services:
  postgres:
    image: postgres:16
    container_name: la_liga_DB
    environment:
      POSTGRES_DB: la_liga
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
